<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Exercise</title>
  <link rel="stylesheet" href="/stylesheets/add-exercise.css">
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Add Exercise</h1>
  <form action='/users/<%= user._id %>/workouts/<%= workout._id %>/exercises' method='post'>
    
    <label for='muscleGroup'>Muscle Group:</label>
    <select name='muscleGroup' id='muscleGroup' required>
      <option value="Chest">Chest</option>
      <option value="Back">Back</option>
      <option value="Quads">Quads</option>
      <option value="Hamstrings">Hamstrings</option>
      <option value="Calves">Calves</option>
      <option value="Shoulders">Shoulders</option>
      <option value="Core">Core</option>
      <option value="Biceps">Biceps</option>
      <option value="Triceps">Triceps</option>
      <option value="Other">Other</option>
    </select>

    <label for='exercise'>Exercise:</label>
    <input type='text' name='exercise' id='exercise' required/>

    <label for='weight'>Weight:</label>
    <input type='text' name='weight' id='weight' required/>

    <label for='sets'>Sets:</label>
    <input type='text' name='sets' id='sets' required/>

    <label for='repGoal'>Rep Goal:</label>
    <input type='text' name='repGoal' id='repGoal' required/>

    <label for='actualReps'>Actual Reps Performed:</label>
    <input type='text' name='actualReps' id='actualReps'/>

    <label for='intensity'>Intensity:</label>
    <select name='intensity' id='intensity'>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="I'm too lazy to even attempt">I'm too lazy to even attempt</option>
    </select>

    <button type='submit'>Add Exercise</button>
  </form>

  <a href='/users/<%= user._id %>/workouts/<%= workout.id %>'>Cancel</a>

</body>
</html>
