<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workout Details</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Here the details of your workout.</h1>
  <ul>
      <li>
        Workout Date: <%= workout.date %>
      </li>
      <li>
        Muscle Group: <%= workout.muscleGroup %>
      </li>
      <li>
        Exercise: <%= workout.exercise %>
      </li>
      <li>
        Weight: <%= workout.weight %>
      </li>
      <li>
        Sets: <%= workout.sets %>
      </li>
      <li>
        Rep Goal: <%= workout.repGoal %>
      </li>
      <li>
        Actual Reps: <%= workout.actualReps %>
      </li>
      <li>
        Intensity: <%= workout.intensity %>
      </li>
  </ul>
</body>
</html>