<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workout Details</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <ul>
    <li>
      Workout Date: <%= workout.date.toISOString().split('T')[0] %>
    </li>
</ul>

<!-- Loop through the exercises and display each one -->
<h2>Exercises:</h2>

<table border="1">
  <thead>
    <tr>
      <th>Muscle Group</th>
      <th>Exercise</th>
      <th>Weight</th>
      <th>Sets</th>
      <th>Rep Goal</th>
      <th>Actual Reps</th>
      <th>Intensity</th>
    </tr>
  </thead>
  <tbody>
    <% workout.exercises.forEach(function(exercise) { %>
      <tr>
        <td><%= exercise.muscleGroup %></td>
        <td><%= exercise.exercise %></td>
        <td><%= exercise.weight %></td>
        <td><%= exercise.sets %></td>
        <td><%= exercise.repGoal %></td>
        <td><%= exercise.actualReps %></td>
        <td><%= exercise.intensity %></td>
      </tr>
    <% }); %>
  </tbody>
</table>
  <a href='/users/<%= user._id %>/workouts/<%= workout._id %>/edit'>Edit this workout</a>
  <form action='/users/<%= user._id %>/workouts/<%= workout._id %>?_method=delete' method='post'>
    <button type='submit'>Delete Workout</button>
  </form>
</body>
</html>